<h1>All Animals:</h1>

<ol>
@foreach (Animal animal in Model)
{
    <ul>
      <li>ID: @animal.country</li>
      <li>Name: @animal.taxonid</li>
      <li>Species: @animal.scientific_name</li>
      <li>Age: @animal.country</li>
      
    </ul>
    @* <a href="/Animals/Details/@(animal.AnimalId)"><p>View Details</p></a> *@
    <br>
}
</ol>