/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

#click-test {
  margin-left: 40vw;
  width: 20vw;
  height: 20vw;
  background-color: coral;
  border-radius: 50%;
}

/*
 * Below are Cascading Style Sheet (CSS) definitions in use in this file,
 * which allow easily changing how countries are displayed.
 *
 */

/*
 * Circles around small countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.circle {
  opacity: 0;
  fill: #b9b9b9;
  fill-opacity: 1;
  stroke: black;
  stroke-width: 0.99986893;
  stroke-miterlimit: 3.97446823;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

/*
  * Land
  */
.land {
  fill: #2f004f;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 0.99986997;
  stroke-miterlimit: 3.97446823;
  stroke-dasharray: none;
}

/*
  * Additional style rules
  *
  * The following are examples of colouring countries.  You can substitute these with your own styles to colour the countries on the map.
  *
  * Color a few countries:
  *
  * .gb, .au, .nc
  * {
  *    fill:       #ff0000;
  * }
  *
  * Color a few small country circles (and the countries):
  *
  * .ms, .ky
  * {
  *    opacity:    1;
  *    fill:       #ff0000;
  * }
  *
  */

/*
  * Sea
  */

.ocean {
  opacity: 1;
  color: #000000;
  fill: white;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  marker: none;
  marker-start: none;
  marker-mid: none;
  marker-end: none;
  stroke-miterlimit: 1;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  visibility: visible;
  display: inline;
  overflow: visible;
}

.lake {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 0.99986997;
  stroke-miterlimit: 3.97446823;
  stroke-dasharray: none;
}

#mx,
#ca,
#us {
  fill: #86cd82;
  fill-opacity: 1;
  stroke: #2e422d;
  stroke-width: 0.99986993999999996;
  stroke-miterlimit: 3.9744682299999998;
  stroke-dasharray: none;
  stroke-opacity: 1;
  transition: all 1s linear;
}

#mx:hover,
#ca:hover,
#us:hover {
  fill: #0d3017;
}

.splash {
  height: 90vh;
  width: 100vw;
  background-image: url('https://wallpaperaccess.com/full/335506.jpg');
  background-size: 100% 100%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  color: #e9ebf8;
}
